@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*************ESTRUCTURA GRID***************/
.body-container-products {
    background-color: #eeeeee;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 80px);
    justify-content: space-around;
    grid-row-gap: 20px;
    grid-template-areas:
    "busqueda calculadora carrito";
}
/***********************************************/

/***************SCROLL BAR EN BODY*******************/
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background: #d6d6d6;
}
body::-webkit-scrollbar-thumb {
    background-color: #ff2348; 
    border-radius: 20px;
    border: 3px solid #d6d6d6;
}
/**********************************************/

/**************BARRA DE BÚSQUEDA********************/
.body-container-barradebusqueda {
    grid-area: busqueda;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    padding-bottom: 50px;
    padding-right: 250px;
    z-index: 1000;
}
.buscar {
    position: absolute;
    padding: 20px;
}
.buscar input {
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}
.btn {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 18px;
    color: #ff3e57;
    font-size: 20px;

}
/*********************************************************/

/*CALCULADORA*/
.body-container-calculadora {
    grid-area: calculadora;
    display: flex;
    align-self: center;
    justify-self: center;
}
.btn-modal-popup {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.btn-modal-popup img {
    width: 50px;
    height: 50px;
}
#popup {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #fff;
    width: 340px;
    transition: 0.5s;
    visibility: hidden;
}
#popup.active {
    visibility: visible;
    top: 50%;
}
#popup .calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.theme-toggler.active::before {
    background-color: #000;
}
.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}
.close-fotoprincipal {
    position: absolute;
    top: 15px;
    right: 60px;
    background-color: #e7e7e7;
    padding: 8px 8px 6px 8px;
    cursor: pointer;
}
.close-fotoprincipal img {
    width: 17px;
    height: 16px;
}
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.buttons button {
    height: 60px;
    width: 60px;
    border: 0;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all .1s linear;

    position: relative;
    bottom: 0;
    box-shadow: 5px 5px 0 #2b2b2b3d;
}
button:active, .calculator button#clear:active {
    bottom: -5px;
    box-shadow:0 0 0 #2b2b2b3d;  
}
button#equal {
    height: 130px;
}
/*TEMA CLARO*/
.calculator {
    background-color: #fff;
}
.calculator #display {
    color: #0a1e23;
}
.calculator button#clear {
    background-color: #ffb3b8;
    color: #ff4e5a;
    transition: all .1s linear;
    position: relative;
    bottom: 0;
    box-shadow: 5px 5px 0 #ffc6c6;
}
.calculator button.btn-number, .calculator button.btn-operator, .calculator button.btn-equal {
    background-color: #eeeeee;
    color: #000000;
}
/*TEMA OSCURO*/
.calculator.dark {
    background-color: #071115;
}
.calculator.dark #display {
    color: #f8fafb;
}
.calculator.dark button#clear {
    background-color: #ff6a8f;
    color: #ff2230;
}
.calculator.dark button.btn-number, .calculator.dark button.btn-operator, .calculator.dark button.btn-equal {
    background-color: #000000;
    color: #ffffff;
}
/********************************************************/

/*****************BOTÓN DE CARRITO EXTERIOR***************/
#boton-carrito {
    grid-area: carrito;
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: #ff9aa1;
}
#boton-carrito:focus {
    outline: none;
}
#boton-carrito img {
    width: 40px;
}

#contadorCarrito {
    width: 25px;
    height: 25px;
    color: #f8fafb;
    position: absolute;
    font-size: 15px;
    padding: 1px 8px 8px 9px;
    border-radius: 60%;
    background-color: #ff2230;
    margin-left: 25px;
}
/**************************************************/

/***************MODAL CONTENEDOR*****************/
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
/**********************************************/

/*****************MODAL CARRITO*******************/
.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: #fff;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #ff4e5a;
    padding-bottom: 5px;
}

/**************************************************/

/********************CARRITO CERRAR****************/
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #ff4e5a;
    border: none;
    background-color: #fff;
}
.modal-carrito #carritoCerrar:hover {
    color: #ff6a8f;
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
/*********************************************/

/****************SCROLL BAR CARRITO***************/
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
/************************************************/

/******************CARDS - CONTENEDOR-PRODUCTOS*****************/
#contenedor-productos {
    background-color: #eeeeee;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(30, 300px);
    justify-content: space-around;
    grid-row-gap: 20px;
    grid-template-areas:
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto"
    "producto producto";
}
.producto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
}
.imgBox {
    position: relative;
    min-width: 200px;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-details {
    position: relative;
    min-width: 300px;
    background: #ff2348;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-details h4 {
    font-size: 15px;
}
.product-details .product-description p {
    font-size: 14px;
    font-weight: 200;
}
.product-details .product-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-details .product-buy .product-price {
    font-size: 25px;
}

/***************BOTÓN DE COMPRA******************/
.product-details .product-buy .product-button {
    background-color: #fff;
    padding: 10px 12px;
    text-transform: uppercase;
}
.product-details .product-buy .product-button:active {
    transform: scale(0.96);
    background:#ff7e87;
    box-shadow: none;
}
.product-details .product-buy .product-button a {
    text-decoration: none;
    color: #ff2230;
    transition: 0.020s all;
}
.product-details .product-buy .product-button a:active {
    color: #fff;
}
/******************************************************/

/*CLASE PARA BUSCAR LOS PRODUCTOS EN EL BUSCADOR INTERNO*/
.filter {
    display: none;
}

/**************CARRITO DE COMPRAS POR DENTRO*********************/
.boton-agregar {
    background-color: #ff4e5a;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.productoEnCarrito {
    border-bottom: 1px solid #bbbbbb;
    font-size: 14px;
    margin: 15px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}
.productoEnCarrito .nombreProducto {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.imgCarritoInterno {
    width: 90px;
    height: 140px;
}
.containerInfoCarrito {
    min-width: 270px;
}
.trash-button {
    width: 18px;
    background-color: #fff;
}
.trash-button:hover {
    cursor: pointer;
}
.trash-button:focus {
    outline: none;
}
.unidadesDelCarrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.unidadesDelCarrito .botonUnidades {
    color: #fff;
    padding: 2px 8px;
    background-color: #ff3e57;
    border-radius: 10%;
    font-weight: bold;
    cursor: pointer;
}
  
/* cart footer */
/*.cart-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.1rem;
}
.cart-footer .checkout {
    background-color: #ff2348;
    cursor: pointer;
}*/

/****************MODAL SWEET ALERT*************/
.swal-button {
    background-color: #ff2348;
}

.swal-button:not([disabled]):hover {
    background-color: #e0202c;
}
/**********************************************/

/***************************MEDIA QUERIES**********************/
@media screen and (max-width: 1236px) {
    #contenedor-productos {
        display: flex;
        flex-wrap: wrap;
    }

    .buscar input {
        width: 280px;
        height: 40px;
    }
}

@media screen and (max-width: 977px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .body-container-barradebusqueda {
        align-self: center;
        justify-self: center;
        padding-bottom: 50px;
        padding-right: 290px;
        z-index: 1000;
    }

    .buscar input {
        width: 280px;
        height: 40px;
    }
}

@media screen and (max-width: 599px) {
    .imgBox {
        min-width: 200px;
        width: 200px;
        height: 100%;
    }

    .body-container-barradebusqueda {
    align-self: center;
    justify-self: center;
    padding-bottom: 50px;
    padding-right: 270px;
    z-index: 1000;
}

    .buscar input {
        width: 250px;
        height: 40px;
    }
}

@media screen and (max-width: 520px) {
    #contenedor-productos {
        display: flex;
        flex-wrap: wrap;
        grid-template-rows: repeat(30, 1fr);
    }

    .producto {
        position: relative;
        display: flex;
        /*flex-direction: column;*/
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 600px;
        margin-top: 20px;
        background: #ff2348;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    }

    .imgBox {
        position: absolute;
        min-width: 100%;
        width: 100%;
        height: 600px;
        z-index: 1;
        opacity: 0.2;
    }

    .product-title, .product-description, .product-buy {
        z-index: 2;
    }
    
    .buscar input {
        width: 200px;
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
 .modal-carrito {
    display: flex;
    flex-direction: column;
    min-width: 400px;
 }
}

@media screen and (max-width: 440px) {
    .modal-carrito {
        display: flex;
        /*flex-direction: column;*/
        min-width: 300px;
    }

    .containerInfoCarrito {
        min-width: 200px;
    }
}

@media screen and (max-width: 370px) {
    .containerInfoCarrito {
        min-width: 150px;
    }
}